/StatistIQApp/
/StatistIQApp/GoogleService-Info.plist
/StatistIQApp/Info.plist
/Services/
/StatistIQApp/StatistIQApp/Assets.xcassets
# Scripts/*
# !Scripts/update_games.py

# Ignore all scripts except update_games.py
Scripts/nba_updater/firebase_key.json
Scripts/nba_updater/requirements.txt
Scripts/fetch_games.py
Scripts/statistiq-5158d-firebase-adminsdk-fbsvc-51f4cb04e0.json
Scripts/upload_games.py
!Scripts/nba_updater/update_games.py
