<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleIdentifier</key>
                <string></string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>GoogleSignIn</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.googleusercontent.apps.1006868195122-7ek00n20nv3cugamlktiommi99m5h595</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>Facebook</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>fb3030351460469034</string>
                </array>
            </dict>
        </array>
        <key>UIAppFonts</key>
        <array>
            <string>Jost-Medium.ttf</string>
            <string>Jost-SemiBold.ttf</string>
            <string>Cabin-SemiBold.ttf</string>
        </array>
        <key>FacebookAppID</key>
        <string>3030351460469034</string>
        <key>FacebookClientToken</key>
        <string>011ae5a8ab34449f4215df676a51d966</string>
        <key>FacebookDisplayName</key>
        <string>StatistIQ</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>fbapi</string>
            <string>fb-messenger-share-api</string>
            <string>fbauth2</string>
            <string>fbshareextension</string>
        </array>
    </dict>
</plist>
